.editor
  position: relative

  left: 250px
  width: 35%

.list
  margin: 20px

.pick
  margin: 25px

.avgScore
  width: 50%
  height: 35px
  margin-left: 150px
  padding-left: 50px
  box-sizing: border-box


.avgScore h3
  margin-top: 20px
  margin-bottom: 10px
  text-align: center


.avgScore div
  float: left
  height: 100%


.avgScore .red + div
  height: 36px
  margin-top: 20px



.green
  background-color: green


.yellow
  background-color: yellow


.red
  background-color: red

.list
  margin-top: 50px
  margin-left: 150px
